.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  margin: 28px 0 42px;
}

@media (min-width: 768px) {
  .header {
    margin: 45px 0 37px;
  }
}
